{% extends 'base.html' %}
{% block content %}
<h2>Formulario de Nombres</h2>
<form method="POST">
    <label for="nombre1">Nombre 1:</label>
    <input type="text" id="nombre1" name="nombre1" required>
    <br>
    <label for="nombre2">Nombre 2:</label>
    <input type="text" id="nombre2" name="nombre2" required>
    <br>
    <label for="nombre3">Nombre 3:</label>
    <input type="text" id="nombre3" name="nombre3" required>
    <br>
    <button type="submit">Enviar</button>
</form>

{% if resultado %}
<p>El nombre con mayor cantidad de caracteres es: {{ resultado.nombre }}</p>
<p>El nombre tiene: {{ resultado.longitud }} caracteres</p>
{% endif %}
{% endblock %}
